.leftsidebar{
    text-align: left;
    margin: 0 auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftsidebar img{
    margin-bottom: 20px;
}

.info{
    background:linear-gradient(to right, lightseagreen,rgb(173, 238, 130));
    padding:20px 10px;
    color: white;
    border-radius: 5px;
}