.card {
    position: relative;
    perspective: 1500px;
    -moz-perspective:1500px;
    .project{
        width: 25vw;
        min-width: 450px;
        display:flex;
        padding: 20px;
        margin: 10px;
       flex-direction: column-reverse;
        align-items: center;
        flex-wrap: wrap;
        background-position: center;
        background-size: cover;
        height: 300px;
        transition: all 1s;

    }
    &:hover .project{
        transform: rotateY(-180deg);
        backface-visibility: hidden;
    }
    &:hover .project-back{
        transform: rotateY(0);
    }
    .project-back{
        width: 25vw;
        min-width: 450px;
        display:flex;
        padding: 20px;
        margin: 10px;
        height: 300px;
        transform: rotateY(180deg);
        transition: all 1s;
        backface-visibility: hidden;
        position: absolute;
        top:0;
        background: white;
    
       
    }
}


.projects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: lightgray;
    padding: 10px 0;
    
}


.projects{
    margin: -50px auto;
    padding: 100px 0;
    width: 100%;
    h2{
        color:yellowgreen;
        text-align: center;
    }
}

.links{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.links a{
    padding: 3px;
    border-radius: 2px;
    text-decoration: none;
    background: lightgreen;

    &:last-child{
        background: lightskyblue;
        color: white;
    }
    
}

.project-content{
    
    width: 30vw;
    min-width: 450px;


    p{
        text-align: justify;
        
    }

    h3{
        background:yellowgreen;
        padding: 10px;
    }

}

.tech{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    width: fit-content;
}

.project img{
    height: 80%;
}

.tec{
    margin: 5px 5px 5px 0;
    background: lightgreen;
    padding: 5px;
    color: blue;

}

@media only screen and (max-width: 600px) {
    .image-div, .project-content, .projects, .project{
      width: 100%;
      min-width: 300px
    }

    .project-content{
        padding:10px;
    }
  }