.project {
    width: 60vw;
    margin: 100px auto;
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    border: 2px solid skyblue;
    padding: 10px 0;
    align-items: center;
    box-shadow: 5px 5px 5px lightgray;
    background: linear-gradient(to right, lightblue, rgb(12, 117, 158));
    border-radius: 10px;
}
.image-div{
    img:hover{
        transform: scale(1.02);
        transition: 1s;
    }
 
}
.projects{
    margin: 0 auto;
    padding: 100px 0;
    width: 100%;

    h2{
        color:#289AF1;
    }
}

.links{
    display: flex;
    justify-content: space-evenly;
}
.links a{
    padding: 3px;
    border-radius: 2px;
    text-decoration: none;
    background: lightgreen;

    &:last-child{
        background: lightskyblue;
        color: white;
    }
    
}

.project-content h3{
    color: white;
}
.project-content{

    p{
        text-align: justify;
        
    }

}

.tech{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    width: fit-content;
}

.project img{
    height: 100%;
    padding: 10px;
}


.image-div{
    width: 400px;
}

.project-content{
    width:500px;
}

.tec{
    margin: 5px 5px 5px 0;
    background: lightgreen;
    padding: 5px;
    color: blue;

}