.academic{
    width: 400px;
    height: 150px;
    margin:10px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: 4px 4px 4px gray;
    transform:skewY(-5deg);
}
.degree{
    background: lightgreen;
    padding: 15px;
    transform:skewY(5deg);
 }
.period{
    padding-left: 10px;
    transform:skewY(5deg);
}
.school{
    padding: 10px;
   color: #289AF1;
   font-weight: bold;
   transform:skewY(5deg);
}
.education{
    margin: -70px auto 0 auto;
    padding: 200px 0;
    background-image: url(https://images.pexels.com/photos/301943/pexels-photo-301943.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.education h2{
color: blue;
}
.academic-list{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 950px;
}

@media only screen and (max-width: 600px) {
    .academic, .education{
      width: 100%;
      min-width: 300px;
      margin: 10px auto;
    }
    .education{
        padding: 5px;
    }
    .academic-list{
        padding: 50px 0;
    }

  }