.academic{
    width: 400px;
    margin: 40px auto;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-bottom: 10px;
    border: 2px solid lightgray;
}
.degree{
    background: lightgray;
    padding: 15px;
 }
.period{
    padding-left: 10px;
}
.school{
    padding: 10px;
   color: #289AF1;
   font-weight: bold;
}
.education{
    margin: 100px auto 0 auto;
}

.education h2{
color: blue;
}
.academic-list{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
