.academic{
    width: 500px;
    margin: 10px auto;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color:white;
    background: linear-gradient(to right, blueviolet,rgb(78, 118, 192));
    border: 1px solid blueviolet;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
}
.degree, .school{
    padding: 0 10px;
}
.period{
    padding-left: 10px;
}
.education{
    margin: 100px auto 0 auto;
}
.academic-list{
    padding: 50px;
}
.one{
    width: 50%;
}
.two{
    width: 60%;
}
.three{
    width: 70%;
}
.four{
 width: 80%;
}