.academic{
    margin: 20px auto;
    width: 500px;
    text-align: justify;
    font-family:'Courier New', Courier, monospace;
    color:white;
    border: 1px solid blueviolet;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
}
.degree, .school{
    padding: 0 10px;
}
.period{
    padding-left: 10px;
}
.education{
    margin: 100px auto 0 auto;
}
.academic-list{
    background: linear-gradient(to right, blueviolet,rgb(78, 118, 192));
    padding: 50px;
}