.project {
    width: 400px;
    box-shadow: 2px 8px 8px lightgray;
    border-radius: 10px;
    margin: 50px auto;
    position: relative;
}
.project:hover{
    transform: scale(1.1);
    transition: 1s;
}
.projects{
    margin: -100px auto 0 auto;
    clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
    background-image:    linear-gradient(
        rgba(255, 255, 255, 0.89), 
        rgba(255, 255, 255, 0.863)
      ),url(https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
    width: 100%;

    h2{
        color:#289AF1;
    }
}

.links{
    display: flex;
    justify-content: space-between;
}
.links a{
    border: 1px solid lightblue;
    padding: 3px;
    background: blueviolet;
    text-decoration: none;
    color:white;
    font-size: bold;
}
.tech{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title{
    color:white;
}
.project p{
    padding: 5px;
}

.project img{
    height: 100%;
    padding: 10px;
}

.project-content{
    height: 50%;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: justify;
    color: lightgreen;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.562);
    border-radius: 5px;

}

.projects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
