.project {
    width: 400px;
    box-shadow: 2px 8px 8px lightgray;
    border-radius: 10px;
    margin: 50px auto;
    position: relative;
}

.projects{
    margin: 200px auto;
}

.links{
    display: flex;
    justify-content: space-between;
}
.links a{
    border: 1px solid lightblue;
    padding: 3px;
    background: blueviolet;
    text-decoration: none;
    color:white;
    font-size: bold;
}
.tech{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title{
    color:white;
}
.project p{
    padding: 5px;
}

.project img{
    height: 100%;
    padding: 10px;
}

.project-content{
    height: 50%;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: justify;
    color: lightgreen;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.562);
    border-radius: 5px;

}

.projects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
