

.heading{
    padding:60px 10px;
    max-width: 800px;

 .role{
     margin: 20px 0;
     font-size: 40px;
     font-weight:100;
 }
 .skills{
  color: yellowgreen;
 }

 .green{
    color: yellowgreen;
}
}
.contact{
   color:white;
   background: yellowgreen;
   padding: 5px;
}
.phone{
    display: flex;
    flex-wrap: wrap;
}
.name span{
    font-size: 100px;
    letter-spacing: 10px;
    font-weight: bold;
    line-height: 120px;
}

@media only screen and (max-width: 950px) {
    .name span{
        font-size: 10vw;
        line-height: 50px;
    }
  }