

.heading{
    padding:60px 10px;
    max-width: 800px;

 .role{
     margin-top: 20px;
     font-size: 40px;
     font-weight:100;
 }
 .skills{
  color: yellowgreen;
 }

 .green{
    color: yellowgreen;
}
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;

    span{
        margin:10px;
        font-size: 15px;
    }
}

.name span{
    font-size: 100px;
    letter-spacing: 10px;
    font-weight: bold;
    line-height: 120px;
}

@media only screen and (max-width: 950px) {
    .name span{
        font-size: 10vw;
        line-height: 50px;
    }
  }