nav{
    display: flex;
    justify-content: center;
}

.navmenu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: white;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 10;
    box-shadow: 4px 4px 4px gray;
    border-bottom: 1px solid gray;
}

.logo{
    border-radius: 50%;
    color: rgb(21, 164, 221);
    border: 2px solid rgb(21, 164, 221);
    box-shadow: 2px 2px 2px lightgray;
    font-size: 30px;
    padding: 5px;
}
.fa-bars{
    display: none;
    color: lightblue;
    cursor: pointer;
}
nav a{
    text-decoration: none;
    color: yellowgreen;
    font-weight: bold;
    margin: 1vw;
    padding: 0.6vw;
    width: 100px;
}
nav a:hover{
    transform: scale(1.1);
    text-decoration: none;
    color: gray;
}
