.navigation span{
    margin-left: 10px;
}
.navigation{
    position: fixed;
    background: #F6F9FC;
    z-index: 10;
    padding: 30px;
    width: 100%;
    color: blueviolet;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -20px;
    box-shadow: 2px 4px 4px lightgray;
}