.navigation span{
    margin-right: 20px;
}
.navigation{
    width: 100%;
    color: #33363b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    
    .contact i{
        color: white;
        margin-right: 5px;
    }
}
.right-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    text-align: left;
    left: 20px;
    top: 40%;
    z-index: 10;
}
.bar-menu{
    position: fixed;
   color: white;
    left: 20px;
    top: 40%;
    z-index: 10;
    display: none;
}
nav a{
    text-decoration: none;
    color: #eaeaea;
    background: transparent;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px white;
    width: 100px;
}
nav a:hover{
    transform: scale(1.1);
    text-decoration: none;
}
nav a:active{
    color:blueviolet;
    text-decoration: underline;
}

@media only screen and (max-width: 1024px) {
    .navigation {
      flex-direction: column;
    }
    .right-nav{
        margin: 30px;
    }
    nav{
        top: 65%;
    }
  }