.navigation span{
    margin-left: 10px;
}
.navigation{
    width: 100%;
    color: #33363b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    margin-top:40px;
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: #eaeaea;
}
nav a:hover{
    transform: scale(1.1);
    text-decoration: none;
}
nav a:active{
    color:blueviolet;
    text-decoration: underline;
}

@media only screen and (max-width: 1024px) {
    .navigation {
      flex-direction: column;
    }
  }