.navigation span{
    margin-left: 10px;
}
.navigation{
    position: fixed;
    background: #368cbf;
    z-index: 10;
    padding: 30px;
    width: 90%;
    color: #33363b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
    box-shadow: 2px 4px 4px lightgray;
}
.right-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    margin-top:40px;
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: #eaeaea;
}
nav a:hover{
    transform: scale(1.1);
    text-decoration: none;
}
nav a:active{
    color:blueviolet;
    text-decoration: underline;
}

@media only screen and (max-width: 1024px) {
    .navigation {
      flex-direction: column;
    }
  }