
.navigation{
    width: 95vw;
    height: 100vh;
    padding: 3vw 5vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-photo{
  border: 1px solid yellowgreen;
  box-shadow: 5px 5px 5px lightgray;
  transition: all 2s;

  &:hover{
    transform: scale(0.95);
  }
}

@media only screen and (max-width: 950px) {
    .navigation{
      width: 90vw;
      height: 100vh;
      padding:10vw;
      margin-top: 100px;
      flex-direction:column-reverse;
    }

    .main-photo{
      width: 20vw;
    }
  }