.about{
    margin: 100px auto;
    min-height: 400px;
    line-height: 40px;
    font-size: 20px;
    padding-top: 30px;

}

.about p{
    text-align: left;
    font-family:'Courier New', Courier, monospace;
    color: gray;
   
}
.about h2{
    margin-bottom: 30px;
}
.myskills{
    text-align: center;
    color: white;
}

.myskills span{
    border: 1px solid lightgray;
    background: lightseagreen;
    padding: 2px 5px;
    margin: 2px;
}