.about{
    margin: 300px auto 150px auto;
    min-height: 400px;
    line-height: 30px;
    padding-top: 30px;
    width: 1000px;
    background: linear-gradient(to right, blueviolet,rgb(78, 118, 192));
    padding: 20px;

}
.about:focus{
    animation-name: pageload;
    animation-duration: 2s;
}
@keyframes pageload {
    from {transform: translateY(5px);}
    to {transform: translateY(30px);}
  }

.about p{
    text-align: justify;
    font-family:'Courier New', Courier, monospace;
    color: white;
   
}
.about h2{
    margin-bottom: 30px;
    color: white;
}
.about-data{
    display: flex;
    justify-content: space-between;
}
.about-desc{
   margin: 100px 0 0 50px ;
}
@media only screen and (max-width: 1024px) {
    .about-data {
      flex-direction: column;
    }
    .about{
        width:90%;
    }
  }