.App {
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}
h2{
  color:#368cbf;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
