.jobheading{
    margin: 20px 0;
    color: gray;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    

    span{
        color:#070600;
    }
}
.experienceItem ul li{
    text-align: left;
}
.experienceItem {
    font-family:'Courier New', Courier, monospace;
    margin: 40px auto;
    color: white;
    border-bottom: 1px solid white;
    max-width: 1000px;

}
.experience{
    margin: 100px auto;
}

@media only screen and (max-width: 1024px) {
    .experienceItem {
      width: 70vw;
    }
  }