.maincontent {
    width: 98%;
    scroll-behavior: smooth;
    margin: 40px auto;
}

.footer{
    height: 300px;
    padding: 50px;
    background: rgba(8, 3, 3, 0.795);
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.publications a, a:link, a:active{
    text-decoration: none;
    color:yellowgreen;
    
}

.publications{
    max-width: 300px;
}
.publications a:hover{
    text-decoration: underline;
}



@media only screen and (max-width: 600px) {
    .maincontent{
      width: 100%;
      margin: 0;
      min-width: 300px;
    }
   .footer{
       margin-top: -10px;
       flex-direction: column;
   }

  }